*.classpath
*.project
*.class
*.properties
#directory
/.settings/
/logs/
/work/
/build/
/conf/
/lib/
/temp/
/webapps/
.idea
out
*.iml
.classpath
.project
.settings/
/bin/
/target/
# Application Properties
src/main/resources/application.properties
src/main/resources/application-dev.properties
src/main/resources/application-local.properties
src/main/resources/application-prod.properties
